
.big-box {
margin: auto;
width:900px;
text-decoration: none;
}

.card-product {
  overflow: hidden;
  height: 180px;
  background: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  display: flex;
  align-items: center;
  margin-top: 15px;
  border-radius: 20px;
  text-decoration: none;
}

.card-product img {
  height: 100%;
  width: 180px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  text-decoration: none;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  text-decoration: none;
}

.card-product .card-product-infos {
  padding: 16px;
  text-decoration: none;
}

.navbar2 {
  height: 50px;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #6d6d6d34;
}


.navbar2 button {
  color: black;
  margin-left: 10px;
  margin-right: 10px;
  background-color: transparent;
  font-size: 12px;
  opacity: .9;
  border-radius: 20px;
  border-color: grayscale($color: #6d6d6d3c);
  padding: 10px;
  margin-bottom: 8px;
  padding-left: 20px;
  padding-right: 20px;

}

.navbar2 button:hover {
border-color: rgb(27, 27, 27);
}

.symbols {
  margin-top: 10px;
}

.symbols i {
  margin-right: 10px;

}

.card-info i {
  margin-right: 10px;
  text-decoration: none;
}

.left-box {
width: 400px;
}
.right-box {
  height: 100%;
  width: 180px;
  object-fit: cover;
}
