<h1> hello  </h1>

 <ul> <% @relevant_categories.each do |relevant_categorie| %>
  <li> Name: <%= relevant_categorie %> </li>
 <% end %>
 </ul>

 <ul> <% @user_ranked_dishes.each do |user_ranked_dishe| %>
  <li> Name: <%= user_ranked_dishe.name %> </li>
  <% end %>
 </ul>


@dishes_category_zero = @user_ranked_dishes.filter { |user_ranked_dish| @all_user_categories_id[0] == user_ranked_dish.category.id }


 <ul> <% @relevant_categories.each do |relevant_categorie| %>
  <li> Name: <%= relevant_categorie %> </li>
      <ul>
      <li>
      </li>
      </ul>
 <% end %>
 </ul>
