.width-container {
    width: 80%;
    display: inline;
}

.width-container-rest {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 80%;
}

.flex-aler{
    display: flex;
    justify-content: space-evenly;
    margin-top: 6%;
}


.border-card {
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    max-height: 100%;
}

.map-border {
    border-radius: 10px;
    height: 150px;
}

.border-card-descri {
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    max-height: 92%;
}

.dish-img {
    object-fit: cover;
    object-position: center;
}