.rank-dropdown {
  border: solid 1px #FFBB2E;
  border-radius: 5px;
  padding-left: 20px;
  font-weight: 500;
  font-size: larger;
}

.rank-submit {
  background-color: #FFBB2E;
  border-radius: 5px;
  border: #FFBB2E;
}
