.card-container {
  display: grid;
  grid-auto-flow: column;
  // justify-content: center;
  height: 220px;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  max-width: 100%;
}

.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  width: 250px;
  justify-content: right;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  position: relative;
}

.card-cuisine {
  position: absolute;
  font-size: 16px;
  font-weight: 200;
  top: 25px;
  right: 20px;
}

.card-name {
  position: absolute;
  font-size: 20px;
  font-weight: 400;
  top: 40px;
  right: 20px;
  margin-top: 3px;
}

.card-rank {
  position: absolute;
  font-size: 18px;
  font-weight: 300;
  top: 90px;
  right: 20px;
  margin-top: 3px;
}

.card-restaurant {
  position: absolute;
  font-size: 16px;
  font-weight: 100;
  top: 105px;
  right: 20px;
  margin-top: 3px;
}

.card-type {
  position: absolute;
  font-size: 15px;
  font-weight: 100;
  top: 135px;
  right: 20px;
  margin-top: 3px;
  background-color: rgb(186, 186, 186);
  padding: 3px 10px 1px 10px;
  border-radius: 20px;
  background: rgba(167, 167, 167, 0.5)
}


.card-cuisine-show {
  position: absolute;
  font-size: 24px;
  font-weight: 200;
  top: 36px;
  right: 30px;
  
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 0px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgba(0, 0, 0, .3);
  box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

.suggestions {
  margin-top: 10px;
  margin-bottom: 10px;

}
