.categories-container {
  width: 80%;
  margin: auto;
  margin-top: 30px;
}

.index-title {
  text-align: start;
  font-weight: 300;
}

@mixin hideTapHighlightColor() {
	//Prevent highlight colour when element is tapped
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

@mixin hardwareAccel() {
	//Improve performance on mobile/tablet devices
	transform: translateZ(0);
}

@mixin improveAntiAlias() {
	//Improve aliasing on mobile/tablet devices
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.grow-rotate {
  display: inline-block;
	transition-duration: .3s;
	transition-property: transform;

	@include hideTapHighlightColor();
	@include hardwareAccel();
	@include improveAntiAlias();

	&:hover {
		transform: scale(1.1) rotate(4deg);
	}
}

.grow {
	display: inline-block;
	transition-duration: .3s;
	transition-property: transform;

	@include hideTapHighlightColor();
	@include hardwareAccel();
	@include improveAntiAlias();

	&:hover {
		transform: scale(1.1);
	}
}

.category-cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 5px;
  justify-items: center;
}

.category-card {
  width: 122px;
  height: 100px;
  border: 0px solid;
  border-radius: 15px;
  border-color: rgb(187, 187, 187);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: 2px 2px 4px 1px rgba(54, 54, 54, 0.324);
}

.category-card img {
  width: 40px;
  margin-top: 12px;
}

.category-card p {
  color: #323232;
  margin-top: 9px;
  font-size: 16px;
  font-weight: bold;

}

.categories-container-alerg {
  width: 80%;
  margin-top: 1%;
}

.category-cards-container-alerg {
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
grid-gap: 22px;
justify-items: stretch;
align-items: center;
justify-content: center;
}

.category-card-alerg {
  width: 80px;
  height: 70px;
  border: 1px solid;
  border-radius: 15px;
  border-color: rgb(187, 187, 187);
  display: grid;
  justify-items: center;
  align-items: center;
  position: relative;
}

.category-card-alerg i {
  color: #FFBB2E;
  margin-top: 15px;
  font-size: 20px;
}

.category-card-alerg p {
  color: #FFBB2E;
  margin-top: 12%;
  font-size: 120%;
  font-size: 70%;
  margin-bottom: 10px;
}

.category-cards-container-rest {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5px;
  justify-items: center;
}

.categories-container-rest {
  width: 80%;
  margin: auto;
  margin-top: 30px;
  background-color:  red;
  display: grid;
}

.restaurant-details{
  max-width: 60%;
}

.restaraunt-info {
  max-width: 20%;
}
