.categories-container {
  width: 80%;
  margin: auto;
  margin-top: 30px;
}

.index-title {
  text-align: start;
  font-weight: 300;
}

.category-cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 5px;
  justify-items: center;
}


.category-card {
  width: 110px;
  height: 90px;
  border: 1px solid;
  border-radius: 15px;
  border-color: rgb(187, 187, 187);
  display: grid;
  justify-items: center;
  align-items: center;
}

.category-card img {
  width: 40px;
  margin-top: 15px;
}

.category-card p {
  color: #FFBB2E;
  margin-top: 5px;
  font-size: 12px;
}

.categories-container-alerg {
  width: 80%;
  margin: auto;
  margin-top: 1%;
}

.category-cards-container-alerg {
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
grid-gap: 5px;
justify-items: stretch;
align-items: center;
justify-content: center;
}

.category-card-alerg {
  width: 50%;
  height: 75%;
  border: 1px solid;
  border-radius: 15px;
  border-color: rgb(187, 187, 187);
  display: grid;
  justify-items: center;
  align-items: center;
}

.category-card-alerg p {
  color: #FFBB2E;
  margin-top: 12%;
  font-size: 120%;
}