// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "banner";
@import "search";
@import "cards";
@import "border_card";
@import "categories_cards";
@import "footer";
@import "forms";
@import "profile";
@import "text_animation";
@import "toggle_top";
@import "buttons";
// @import "404";


body {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
