.navbar-lewagon {
  justify-content: space-between;
  background: white;
  width: 80%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  align-self: flex-start;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 150px;
}
