.profile-container {
  width: 80%;
  margin: auto;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.profile-sidebar {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-items: center;
  border-right: 1px solid rgb(199, 199, 199);
  text-align: center;
  justify-content: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  align-self: flex-start;
}

.profile-sidebar-2 {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-items: center;
  border-left: 1px solid rgb(199, 199, 199);
  text-align: center;
  justify-content: center;
}

.profile-sidebar-2 {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-items: center;
  border-left: 1px solid rgb(199, 199, 199);
  text-align: center;
  justify-content: center;
}

.profile-main-container {
  width: 75%;
}

.fav-dishes-container {
  display: flex;
  width: 100%;
  margin-left: 20px;
  flex-direction: column;
}

.fav-lists-container {
  display: flex;
  width: 100%;
  margin-left: 20px;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.profile-sidebar h5 {
  margin-top: 15px;
}

.user-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-items: center;
  text-align: center;
  width: 100%;
  margin: auto;
}

.profile-photo {
  width: 50%;
  border-radius: 50%;
  border: 2px solid #FFBB2E;
  margin: auto;
}

.user-card i {
  background-color: #FFBB2E;
  color: white;
  padding: 5px;
  border-radius: 20%;
}

.edit-button {
  position: absolute;
  bottom: -10px;
  left: 46%;
}

.badge-container img {
  width: 50px;
}

.tops {
  margin-top: 40px;
}

.top-container {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
}

.dish-info {
  margin-top: 30px;
}

.dish-copy {
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
