.search-bar {
  width: 30%;
}

.nav-search-bar {
  width: 27%;
  border: solid 1px #FFBB2E;
  border-radius: 20px;
}

.search-form-control {
  position: relative;

}

.form_style_select {
  border: none;
  text-align: right;
  border-radius: 10px;
}


.search-form-control .form-control {
  height: 42px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  border: 1px solid #E7E7E7;
  border-radius: 15px;
}

.button-search {
  border-radius: 10px;
  height: 40px;
  width: 40px;
  background-color: #FFBB2E;
  color: white;
  border: 0;
  margin-left: 15px;
}

.nav-button-search {
  border-radius: 10px;
  height: 40px;
  width: 40px;
  background-color: #FFBB2E;
  color: white;
  border: 0;
  margin-left: 15px;
}

.form_style {
  width: 105%;
  padding-right: 10px;
}
