.animation-text {
margin: 0;
  color: white;
  font-size: 32px;
  text-align: center;
  width: 100%;
margin-bottom: 40px;
}

.flip {
  height:50px;
  overflow:hidden;
}

.flip > div > div {
  color:#fff;
  padding:4px 12px;
  height:45px;
  margin-bottom:45px;
  display:inline-block;
}

.flip div:first-child {
  animation: show 5s linear infinite;
}

@keyframes show {
  0% {margin-top:-270px;}
  5% {margin-top:-180px;}
  33% {margin-top:-180px;}
  38% {margin-top:-90px;}
  66% {margin-top:-90px;}
  71% {margin-top:0px;}
  99% {margin-top:0px;}
  100% {margin-top:-270px;}
}
